trigger:
- main

pool:
  vmImage: $(imageName)

strategy:
  matrix:
    linux-py38:
      imageName: "ubuntu-latest"
      python.version: '3.8'
    linux-py39:
      imageName: "ubuntu-latest"
      python.version: '3.9'
    mac-py310:
      imageName: "macOS-latest"
      python.version: '3.10'
    windows-py311:
      imageName: "windows-latest"
      python.version: '3.11'
  maxParallel: 3

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install dependencies'

- script: |
    pip install pytest pytest-azurepipelines
    pytest
  displayName: 'pytest'
